logs/*
aclImdb/*
TFX_HandsOn/ChicagoTaxi/__pycache__/*
TFX_HandsOn/ChicagoTaxi/metadata/*
TFX_HandsOn/ChicagoTaxi/pipelines/*
TFX_HandsOn/ChicagoTaxi/serving_model/*
TFX_HandsOn/PenguinPipeline/__pycache__/penguin_trainer.cpython-37.pyc
TFX_HandsOn/PenguinPipeline/__pycache__/penguin_utils.cpython-37.pyc
TFX_HandsOn/PenguinPipeline/metadata/*
TFX_HandsOn/PenguinPipeline/pipelines/*
TFX_HandsOn/PenguinPipeline/schema/schema.pbtxt
